* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    border: 0;
    margin: 0;

    --ff-main: 'Dosis', sans-serif;
    --tt-heading:#3F3D56;
    --tt-header-highlight: #EE24FF;
    --tt-main: #828282;
    

}

body {
    font-size: 1.6rem;
    font-family: var(--ff-main);
    color: var(--tt-main);

}

#wrapper {
    margin: 6.4rem auto 0;
    width: 62.6rem;
    display: flex;
    flex-direction: column;
}
header {
    margin-bottom: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin: 0 auto;
    width: 54.0rem;

    text-align: center;

    font-weight: 400;
    font-size: 1.5rem;
}
main p {
    margin-bottom: 3.2rem;
    line-height: 2.2rem;

}
main h1 {
    color: var(--tt-heading);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.0rem;
    margin-bottom: 1.6rem;
}

h1 span {
    color: var(--tt-header-highlight);
}
main p span {
    font-weight: 700;
    font-size: 1.5rem;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    list-style-type: none;
    font-weight: 700;  
    align-items: center;
    text-align: center;
    align-content: center;
    
}
footer ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--tt-heading);
}

ul li:nth-child(2) {
    margin-left: 4.2rem;
    margin-right: 4.2rem;
    
}

.line {
    border-top: 1px solid #ECEFF2;
    height: 0px;
    width: 39.1rem;
    margin-bottom: 1.6rem;
}

footer {
    margin: 0 auto;  

}

.background {
    margin-top: 4.0rem;
    background: url('wave.png');
    background-size: cover;
    width: 100vw;
    height: 10.0rem;
   
}

